.button-wrap {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;

  // backdrop-filter: blur(2px); /* 배경에만 블러 효과 적용 */
  // -webkit-backdrop-filter: blur(2px); /* Safari 호환성 */
}

.container {
  border: none;
  width: 100%;
  // max-width: 940px;
  height: 56px;
  padding: 10px;
  margin: 0 0 20px 0;
  gap: 10px;
  border-radius: 16px;
  opacity: 0px;

  z-index: 1;

  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.29px;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;

  &.primary {
    background-color: $blue500;
    color: $white;

    &:hover {
      background-color: $blue500;
      transition: opacity 0.3s ease;
      opacity: 30%;
      cursor: pointer;
    }

    &:disabled {
      background-color: $blue200;
      opacity: 1;
      cursor: not-allowed;
    }
  }

  &.light {
    background-color: $blue100;
    color: $grey800;

    &:hover {
      transition: opacity 0.3s ease;
      opacity: 30%;
      cursor: pointer;
    }
  }
}

.dual-button-container {
  @include flexbox();
  gap: 10px;
}
