$white: #ffffff;
$black: #252525;
$trans300: #000000 30%;
$grey100: #fbfbfb;
$grey200: #f7f7f7;
$grey300: #f3f3f3;
$grey400: #dadae1;
$grey500: #86869a;
$grey600: #66667a;
$grey700: #4f4f63;
$grey800: #333347;
$grey900: #000000;
$blue100: #ecf0fc;
$blue200: #e4e8f4;
$blue300: #beccf9;
$blue500: #4169e1;
$red500: #fc4a4a;
$yellow500: #ffd511;
$Primary_Emerald: #01937f;
