.container {
  text-align: center;
}

.page-enter {
  transform: translateY(100%);
  opacity: 0;
}

.page-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 500ms ease-in-out,
    opacity 500ms ease-in-out;
}

.page-exit {
  transform: translateY(0);
  opacity: 1;
}

.page-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition:
    transform 500ms ease-in-out,
    opacity 500ms ease-in-out;
}

.section {
  margin: 0 -20px;
  justify-content: flex-start !important;
  // background: linear-gradient(180deg, #e8e8fc 0%, #fafaff 50%, #ffffff 100%);
  background: linear-gradient(180deg, #f4f4ff 0%, #ffffff 100%);
}

.section-wrap {
  margin: 0 20px;

  .section-top-content {
    @include column-flexbox(center, start);
    text-align: left;
  }
}

.badge-top {
  margin-right: 4px !important;
}

.section-bottom {
  @include flexbox(start, center);
  gap: 49px;
}

.bottom-txt-title {
  p {
    color: $grey700;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: left;
  }
}

.bottom-txt-sub {
  p {
    color: $grey800;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.87px;
    text-align: left;
  }
}

.banner-container {
  @include flexbox(start, center);
  background-color: rgba(236, 240, 252, 0.5);
  gap: 15px;
  border-radius: 10px;
  padding: 19px 16px;
  width: 100%;

  .left-img {
    width: 48px;
  }

  .right-txt {
    p {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      line-height: 21px;
      letter-spacing: -1px;
      color: #86869a;
    }
  }
}

.card-container {
  padding: 16px 0 14px 0 !important;
}

.box {
  @include column-flexbox(between, start);
}

.box-scroll {
  @include column-flexbox(between, start);
  width: 100%;
  overflow-x: hidden;
  pointer-events: none;
}

.warnning-box {
  @include column-flexbox(start, start);
  background-color: $grey100;
  padding: 0 20px;
  margin: 0 -20px;
}

.txt-top {
  p {
    color: $grey800;
    font-size: 26px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: -0.8px;
    text-align: left;
  }
}

.txt-box {
  p {
    color: $grey800;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    letter-spacing: -1px;
    text-align: center;
  }
}

.logo-wrap {
  @include flexbox(start, center);
  gap: 16px;

  &.animation {
    animation: rolling-left-1 10s linear infinite;
  }

  flex-wrap: nowrap;
  margin: unset;
  pointer-events: all;

  &:hover {
    animation-play-state: paused;
  }

  .logo-item {
    width: 67px;
    .logo {
      width: 67px;
    }
  }

  @keyframes rolling-left-1 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33%);
    }
  }

  .txt-sub {
    p {
      color: $grey700;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -1px;
      text-align: center;
    }
  }
}

// .logo-wrap-inner {
//   animation-duration: 100s;
// }

.img-logo {
  height: 24px;
  margin-bottom: 6px;
}

.txt-title {
  p {
    color: $grey800;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.badge-icon {
  margin: 8px 4px 0 0;
}

.order-wrap {
  @include flexbox(start, center);
  gap: 15px;

  .img {
    width: 90px;
    height: 80px;
  }
  .txt-title {
    p {
      color: $blue500;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: -1px;
      text-align: left;
    }
  }

  .txt-sub {
    p {
      color: $grey700;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -1px;
      text-align: left;
    }
  }
}

.txt-warning {
  p {
    color: $grey600;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: -1px;
    text-align: left;
  }
}

.warning-list {
  font-family: Pretendard;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
  color: $grey600;
  padding-bottom: 11px;
  padding-left: 9px;
  background: url(https://s.pstatic.net/static/rules/r8/ico_hyphen.png) 0 8px no-repeat;
}

.txt-sub {
  p {
    color: $grey500;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: left;
  }
}
.cancel {
  background: none;
  width: 100%;
  height: 26px;
  position: fixed;
  padding: 0;
  right: 0px;
  top: 12px;

  max-width: 90rem;
  left: 50%;
  transform: translateX(-50%);

  @include responsive("T") {
    max-width: 100%;
    max-width: calc(100% - 16.8rem);
  }
  @include responsive("M") {
    max-width: 100%;
    padding: 0px 12px;
  }
}
.top-img {
  width: 367px;
}
.img {
  width: 100%;
  height: 223px;
}

.list-button {
  @include flexbox();
  gap: 6.5px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  .txt-title {
    p {
      color: #4f4f63;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -1px;
    }
  }
  .arrow {
    width: 13px;
  }
}

.button-wrap-divide {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  // max-width: 1013px;
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0px -7px 30px 2px rgb(255, 255, 255);

  max-width: 90rem;
  @include responsive("T") {
    max-width: calc(100% - 16.8rem);
  }
  @include responsive("M") {
    max-width: 100%;
    padding: 0 20px;
  }

  @include flexbox();
  width: 100%;
  gap: 9px;

  .button {
    flex: 1;
  }
}

.button-wrap {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  // max-width: 1013px;
  width: 100%;
  padding: 0;
  background-color: white;
  box-shadow: 0px -7px 30px 2px rgb(255, 255, 255);

  max-width: 90rem;
  @include responsive("T") {
    max-width: calc(100% - 16.8rem);
  }
  @include responsive("M") {
    max-width: 100%;
    padding: 0 20px;
  }
}

.skeleton-list {
  @include flexbox();
  gap: 4px;
}
.skeleton-item {
  border-radius: 100px !important;
}

.skeleton-button {
  position: fixed;
  bottom: 20px;
  border-radius: 16px !important;
  background-color: $blue500 !important;
}

.result-box {
  .box-txt-container {
    @include flexbox(between, center);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.8px;
    margin-bottom: 16px;
    .box-txt-left {
      flex: 1;
      p {
        color: $grey500;
        text-align: left;
        font-weight: 600;
      }
    }

    .box-txt-right {
      flex: 1;
      p {
        color: $grey800;
        text-align: left;
        font-weight: 500;
      }
    }
  }
}

.report-img {
  margin: 0 auto;
  width: auto;
  height: 223px;
}
