.container {
  text-align: center;
  .txt-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -1.2px;
    text-align: center;
  }

  .txt-sub {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: $grey600;
  }
  .fixed-button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    width: 94%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
  }

  // 글자 떨리는 모션
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake {
    animation: shake 0.3s ease-in-out;
  }

  .text-alert {
    color: $red500;
    animation: shake 0.3s ease-in-out;
  }

  .with-input-focus {
    top: 380px;
  }
  .button-wrap {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0 20px;
    // backdrop-filter: blur(2px); /* 배경에만 블러 효과 적용 */
    // -webkit-backdrop-filter: blur(2px); /* Safari 호환성 */
  }
}
