.container {
  @include column-flexbox($jc: between);
  padding: 30px;
  height: 490px;
  background-color: $grey100;
  border-radius: 30px;

  .text {
    p {
      font-weight: 400;
      line-height: 25.5px;
      letter-spacing: -1px;
      text-align: center;
    }
  }
}
