.container {
  display: grid;
  justify-content: center;
  align-items: center;
  .txt-title-wrap {
    @include column-flexbox();
    span {
      color: $grey800;
      font-size: 27px;
      font-weight: 700;
      line-height: 35.1px;
      letter-spacing: -0.8px;
      text-align: center;
    }
  }
}
