.header {
  @include flexbox(start, center);
}

.badge {
  width: auto !important;
  height: auto !important;
  padding: 6px 14px;
}

.button-container {
  @include flexbox();
  flex-wrap: wrap;
  gap: 9px;

  .button {
    flex: 1;
    min-width: 104px;
    height: auto !important;
    padding: 13px 14px;
    border-radius: 12px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.keyboard-container {
  position: relative;
  animation: slide-up 0.4s ease forwards; // 0.4초 동안 부드럽게 올라오는 애니메이션

  @keyframes slide-up {
    from {
      bottom: -100%; // 화면 아래에서 시작
    }
    to {
      bottom: 0; // 화면 아래쪽에 고정
    }
  }
}
