.header {
  justify-content: flex-start !important;
  p {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: Pretendard;
    color: $grey800;
  }
}

.badge {
  width: auto !important;
  height: auto !important;
  padding: 6px 14px;
}

.button-container {
  @include flexbox();
  flex-wrap: wrap;
  gap: 9px;

  .button {
    flex: 1;
    min-width: 104px;
    height: auto !important;
    padding: 13px 14px;
    border-radius: 12px;
  }
}

.fixed {
  position: relative;
  left: 0;
  left: 0;
  // top: 0;
  // right: 0;
  // background-color: rgba(0, 0, 0, 0.5);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // z-index: 1000;
}

.keyboard-container {
  position: relative;
  animation: slide-up 0.4s ease forwards; // 0.4초 동안 부드럽게 올라오는 애니메이션

  @keyframes slide-up {
    from {
      bottom: -100%; // 화면 아래에서 시작
    }
    to {
      bottom: 0; // 화면 아래쪽에 고정
    }
  }
}

.reason-box {
  border-radius: 10px;
  min-height: 98px;
  @include column-flexbox(center, start);
  padding: 15px 20px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
}
.show-more-btn {
  background: none;
  border: none;
}

.txt-title {
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: left;
    color: $grey800;
  }
}

.txt-sub {
  color: $grey500;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -1px;
  text-align: left;
}

.button-wrap {
  @include flexbox();
  width: 100%;
  gap: 9px;
}

.button {
  flex: 1;
}

// .input-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   border-bottom: 1.5px solid $blue500;
//   background-color: bisque;
//   .input {
//     @include text-style(2, 500, $grey800);
//     padding-bottom: 1rem;
//     width: 100%;
//     text-align: left;

//     @include responsive("M") {
//       font-size: 1.8rem;
//     }

//     &::placeholder {
//       color: $grey400;
//     }
//   }
// }

.badge-container {
  @include flexbox();
  flex-wrap: wrap;
  gap: 9px;

  .button {
    flex: 1;
    min-width: 104px;
    height: auto !important;
    padding: 6px 14px;
    border-radius: 7px;
  }
}

.hr {
  background-color: $grey200;
  height: 10px;
  margin: 50px -20px;
}

.box-txt-container {
  @include flexbox(between, center);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.8px;
  margin-bottom: 16px;
  .box-txt-left {
    color: $grey500;
  }

  .box-txt-right {
    color: $grey800;
  }
}
