.container {
  text-align: left;
  display: flex;
  // background-color: antiquewhite;
  justify-content: space-between;

  .img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .txt-name {
    font-family: Pretendard;
    color: "#333347";
    letter-spacing: -0.8px;
    line-height: 19.6px;
    font-size: 14px;
    font-weight: 500;
  }
  .txt-time {
    font-family: Pretendard;
    color: "#86869A";
    letter-spacing: -0.8px;
    line-height: 19.6px;
    font-size: 14px;
    font-weight: 400;
  }
  .btnMore {
    height: 20px;
    width: 20px;
    margin-left: auto;
  }
}
