.container {
  text-align: left;
  display: "flex";
  // background-color: antiquewhite;

  .img-profile {
    width: 40px;
    height: 40px;
  }

  .txt-name {
    color: "#333347";
    letter-spacing: -0.8px;
    line-height: 19.6px;
    font-size: 14px;
    font-weight: 500;
  }
  .txt-time {
    color: "#86869A";
    letter-spacing: -0.8px;
    line-height: 19.6px;
    font-size: 14px;
    font-weight: 400;
  }
}
