.header {
  @include flexbox(between, center);
  position: fixed;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  background-color: white;
  z-index: 1;
  // backdrop-filter: blur(2px); /* 배경에만 블러 효과 적용 */
  // -webkit-backdrop-filter: blur(2px); /* Safari 호환성 */
  .txt-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
}

.header-with-margin {
  width: 95% !important;
}

.backButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.Icon {
  // width: 30px;
  height: 26px;
}
