.options {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-button {
  @include flexbox();
  padding: 15px 24px;
  background-color: #f7f7f7;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  letter-spacing: -0.8px;
  text-align: center;
  color: $grey800;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.selected {
  background-color: $blue100;
  color: $blue500;
}

.checkbox-container {
  @include flexbox();
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  letter-spacing: -0.8px;
  text-align: left;
  color: $grey800;
  cursor: pointer;
}

.img {
  padding: 6.65px 4.62px;
  border-radius: 8px;
  width: 24px;
  transition: background-color 0.2s ease;
}

.check-true {
  background-color: $blue500;
  &:hover {
    background-color: $blue300;
  }
}

.check-false {
  background-color: $grey400;
  &:hover {
    background-color: $grey300;
  }
}

.txt-title {
  p {
    color: #333347;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.5px;
    letter-spacing: -0.8px;
    text-align: left;
  }
}
