.txt-right {
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: -0.8px;
    text-align: right;
    color: $grey800;
  }
}

.list-wrap {
  margin-top: 16px;
}
