.container {
  .text {
    p {
      color: $grey800;

      font-family: Pretendard;
      font-size: 22px;
      font-weight: 700;
      line-height: 30.8px;
      letter-spacing: -0.800000011920929px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
  .textContainer {
    display: flex;
  }
  .textValue {
    color: #4169e1;
    font-family: Pretendard;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .text-sub {
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.800000011920929px;
      text-align: left !important;
      color: $grey500;
    }
  }

  .box {
    background-color: $grey100;
    padding: 20px 30px;
    border-radius: 16px;

    .box-txt-container {
      @include flexbox(between, center);
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      letter-spacing: -0.8px;
      margin-bottom: 16px;
      .box-txt-left {
        color: $grey500;
      }

      .box-txt-right {
        color: $grey800;
      }
    }
  }
}
