.reason-box {
  border-radius: 10px;
  min-height: 98px;
  @include column-flexbox(center, start);
  padding: 15px 20px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);

  .show-more-btn {
    background: none;
    border: none;
  }

  .txt-title {
    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -1px;
      text-align: left;
      color: $grey800;
    }
  }

  .txt-sub {
    p {
      color: $grey500;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -1px;
      text-align: left;
    }
  }
}
