.container {
  text-align: left;
  .txt-title {
    // background-color: antiquewhite;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1.2px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button-space {
    display: flex;
    // background-color: antiquewhite;
  }
}
