// 변수 선언
$background-color: white;
$overlay-background-color: rgba(0, 0, 0, 0.5);
$edit-button-color: #333347;
$delete-button-color: #fc4a4a;
$button-font-size: 16px;
$button-height: 48px;
$modal-border-radius: 16px;
$slide-animation-duration: 300ms;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-background-color;
  display: flex;
  justify-content: center;
  align-items: flex-end; // 하단에 정렬
  z-index: 1000;
}

.modal-content {
  background-color: $background-color;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: $modal-border-radius $modal-border-radius $modal-border-radius $modal-border-radius;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform $slide-animation-duration ease-out; // 애니메이션 추가
  transform: translateY(100%); // 기본적으로 화면 아래에 숨겨짐

  // 모달 열기
  &.opening {
    transform: translateY(0); // 화면 위로 올라옴
  }

  // 모달 닫기
  &.closing {
    transform: translateY(100%); // 화면 아래로 내려감
  }
}

.handle-bar {
  width: 40px;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 0 auto 20px;
  cursor: pointer; // 드래그 가능하게 커서 변경
}

.edit-button,
.delete-button {
  display: block;
  width: 100%;
  height: $button-height;
  border: none;
  border-radius: 8px;
  font-size: $button-font-size;
  margin-bottom: 10px;
  cursor: pointer;
}

.edit-button {
  background-color: transparent;
  color: $edit-button-color;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.delete-button {
  background-color: transparent;
  color: $delete-button-color;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
