.containerWriteHeader {
  // background-color: aquamarine;
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;

  .btnWriteBack {
    width: 26px;
    height: 26px;
    color: black;
  }
  .btnWriteComplete {
    font-size: 16px;
    font-weight: 400;
    color: black;

    &.active {
      color: black;
    }
    &.inactive {
      color: #dadae1;
    }
  }
}
