.header {
  @include flexbox(between, center);
  // position: fixed;
  // left: 0;
  // padding: 12px 20px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.content {
  padding: 16px;
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;
  }

  ul {
    padding-left: 20px;
    font-size: 16px;
  }

  li {
    margin-bottom: 8px;
    list-style-type: decimal;
  }

  .content-li {
    li {
      list-style-type: circle;
    }
  }
}
