.container {
  .title-wrap {
    @include flexbox(between, center);
  }

  .text {
    p {
      color: $grey800;

      font-size: 16px;
      font-weight: 600;
      line-height: 20.8px;
      letter-spacing: -0.8px;
      text-align: left;
    }
  }

  .badge-container {
    @include flexbox();
    flex-wrap: wrap;
    gap: 6px;

    .button {
      flex: 1;
      width: 45px;
      height: 45px !important;
      padding: 6px 13px;
      border-radius: 12px;
    }
  }
}
