.container-body {
  background-color: white;
  flex: 10;
  // background-color: rgb(242, 255, 127);
  display: block;
  width: 100%;

  .containerComment {
    margin-top: 10px;
    .txtComment {
      font-size: 16px;
      font-weight: 400;
      color: #333347;
      line-height: 24px;
      padding: 13px;
    }
  }

  .txt-title {
    width: 100%;
    max-height: 72px; /* 2줄의 높이를 제한 (36px * 2줄 = 72px) */
    color: black;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    word-break: break-word; /* 긴 단어를 줄바꿈 */
    white-space: normal; /* 여러 줄 허용 */
    scrollbar-width: none;

    width: 100%;
    height: 72px;
    font-size: 24px;
    color: black;
    font-weight: 600;
    line-height: 36px;
  }
  .txt-content {
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .input-area {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: black;
    outline: none;
    line-height: 28px;

    background-color: white;

    &.gray {
      color: #dadae1;
    }

    &.black {
      color: black;
    }
  }
  .txt-limit-number {
    position: absolute;
    text-align: right;
    bottom: 100px;
    right: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #dadae1;
  }

  .containerHeartComment {
    // background-color: rgb(170, 196, 188);
    width: 100%;
    height: 48px;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    .container-img-footer {
      display: flex;
      align-items: center;
    }

    .img-picture {
      width: 20px;
      height: 20px;
    }
    .img-doc {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
    .img-keyboard {
      width: 20px;
      height: 20px;
    }
  }
  .imgPost {
    width: 100%;
    height: auto;

    border-radius: 10px;
  }
}
