.container {
  width: 72px;
  height: 32px;
  border-radius: 100px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-align: center;
  cursor: pointer;
  border: none;

  &.primary {
    background-color: $grey300;
    color: $grey700;

    &:hover {
      // background-color: $grey400;
      transition: opacity 0.3s ease;
      opacity: 30%;
    }
  }

  &.light {
    background-color: $grey200;
    color: $grey700;

    &:hover {
      // background-color: $grey400;
      transition: opacity 0.3s ease;
      opacity: 30%;
    }
  }

  &.dark {
    background-color: $grey800;
    color: $white;
    &:hover {
      // background-color: $grey700;
      transition: background-color 0.3s ease;
      opacity: 30%;
    }
  }

  &.grey {
    background: none;
    color: $grey500;
    border: 1px solid $blue100;
    &:hover {
      background-color: $grey100;
      transition: background-color 0.3s ease;
    }
  }

  &.white {
    background-color: $white;
    color: $grey700;
    &:hover {
      background-color: $grey200;
      transition: background-color 0.3s ease;
    }
  }

  &.blue {
    background-color: $blue100;
    color: $blue500;
    &:hover {
      background-color: $blue200;
      transition: background-color 0.3s ease;
    }
  }
}
