.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* 전체 화면을 채우기 위해 100vh 설정 */
  overflow: hidden; /* 부모 컨테이너의 스크롤 방지 */

  .container-write-header {
    display: flex;
    height: 44px;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .btn-write-back {
      width: 26px;
      height: 26px;
      color: black;
    }
    .btn-write-complete {
      font-size: 16px;
      font-weight: 400;
      color: black;

      &.active {
        color: black;
      }
      &.inactive {
        color: #dadae1;
      }
    }
  }

  .containerContents {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 48px;
    width: 100%;

    .container-body {
      background-color: white;
      flex: 10;
      // background-color: rgb(242, 255, 127);
      display: block;
      width: 100%;

      .containerComment {
        margin-top: 10px;
        .txtComment {
          font-size: 16px;
          font-weight: 400;
          color: #333347;
          line-height: 24px;
          padding: 13px;
        }
      }

      .txt-title {
        width: 100%;
        height: 72px;
        font-size: 24px;
        color: black;
        font-weight: 600;
        line-height: 36px;
      }
      .txt-content {
        width: 100%;
        font-size: 16px;
        color: black;
        font-weight: 400;
        line-height: 24px;
      }

      .input-area {
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 500;
        color: black;
        outline: none;
        line-height: 28px;

        background-color: white;

        &.gray {
          color: #dadae1;
        }

        &.black {
          color: black;
        }
      }
      .txt-limit-number {
        position: absolute;
        text-align: right;
        bottom: 100px;
        right: 8px;
        font-size: 14px;
        line-height: 20px;
        color: #dadae1;
      }

      .containerHeartComment {
        // background-color: rgb(170, 196, 188);
        width: 100%;
        height: 48px;
        display: flex;
        // justify-content: space-between;
        align-items: center;

        .container-img-footer {
          display: flex;
          align-items: center;
        }

        .img-picture {
          width: 20px;
          height: 20px;
        }
        .img-doc {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
        .img-keyboard {
          width: 20px;
          height: 20px;
        }
      }
      .imgPost {
        width: 100%;
        height: auto;

        border-radius: 10px;
      }
    }

    .containerFooter {
      // background-color: rgb(77, 85, 13);
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 48px;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      .containerInputbox {
        flex: 10;
        font-size: 14px;
        font-weight: 400;
        background-color: #f7f7f7;
        border-radius: 24px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;

        .inputComment {
          width: 100%;
          height: 28px;
          font-size: 14px;
          font-weight: 400;
          color: black;
          outline: none;
          line-height: 28px;
          background-color: #f7f7f7;
        }
        .inputComment::placeholder {
          color: #86869a;
          opacity: 1; /* Ensures full opacity for the placeholder text */
        }
      }

      .txtComment {
        flex: 2;
        font-size: 16px;
        font-weight: 400;
        color: #333347;
        line-height: 24px;
        text-align: center;
        padding: 13px;
        margin-left: 3px;
      }
    }
  }
}
