.container {
  .txt-title {
    p {
      color: $grey800;
      font-size: 26px;
      font-weight: 700;
      line-height: 33.8px;
      letter-spacing: -0.8px;
      text-align: left;
    }
  }
  .txt-sub {
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: $grey700;
    }
  }
  .skeleton-button {
    position: fixed;
    bottom: 20px;
    border-radius: 16px;
    background-color: $blue500;
  }

  .button-wrap {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1013px;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0px -7px 30px 2px rgb(255, 255, 255);
  }

  .fixed-button {
    position: fixed;
    bottom: 50px;
    left: 50%;
    width: 94%;
    transform: translateX(-50%);
    transition: bottom 0.3s ease;
  }
}

.filter-wrap {
  @include flexbox(end, center);
}
.filter-container {
  position: relative;
  width: 95px;
  height: 35px;
  border-radius: 7px;
  background-color: $grey200;
  @include flexbox();
  padding: 5px;

  .filter-select {
    @include flexbox();
    gap: 4px;
    width: inherit;
    height: inherit;
    border-radius: 7px;
    position: relative;

    appearance: none;
    z-index: 3;

    .txt-sub {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color: $grey700;
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 7px;
    background: $grey200;
    list-style: none;
    padding: 0;
    margin: 4px 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    li {
      padding: 8px 12px;
      cursor: pointer;
      transition: background 0.2s ease;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color: $grey700;

      &:hover {
        background-color: $grey300;
        cursor: pointer;
      }
    }
  }

  .arrow {
    width: 12px;
    height: inherit;
  }
}
