.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .container {
    position: fixed;
    overflow: hidden;
    bottom: -100%;
    width: 95%;
    height: 90%;
    max-height: 752px;
    max-width: 900px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: bottom 0.4s ease-in-out;
  }

  .container.show {
    bottom: 0;
  }

  .hr-top {
    // background-color: $grey200;
    background: linear-gradient(180deg, #ffffff 30%, rgba(255, 255, 255, 0) 100%);
    height: 40px;
    margin: 0 -20px;
  }

  .hr-bottom {
    // box-shadow: 0px -7px 28px 20px rgb(255 255 255);
    height: 40px;
    margin: 0 -20px;
  }

  .list-container {
    height: 74%;
    overflow-y: scroll;
    scrollbar-width: none; /* 파이어폭스 */
    ::-webkit-scrollbar {
      display: none; /* 크롬, 사파리, 엣지 */
    }
  }

  .bar {
    background-color: $grey300;
    width: 50px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
  }

  .Icon {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: none;
    cursor: pointer;
  }

  .txt-title {
    p {
      color: $grey800;
      font-size: 18px;
      font-weight: 600;
      line-height: 23.5px;
      letter-spacing: -0.8px;
      text-align: left;
    }
  }
  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $blue500;
  }

  .input {
    @include text-style(2, 500, $grey800);
    padding-bottom: 1rem;
    // border-bottom: 2px solid $blue500;
    width: 100%;
    text-align: left;

    @include responsive("M") {
      font-size: 1.8rem;
    }

    &::placeholder {
      color: $grey400;
    }
  }

  .close-button {
    position: relative !important;
    margin-bottom: -20px;
  }

  .box-list-container {
    @include flexbox(between, center);
  }
  .reset {
    margin-left: 4px;
    width: 24px;
    cursor: pointer;
  }

  .reset-input {
    margin-left: 4px;
    margin-bottom: 6px;
    width: 24px;
    cursor: pointer;
  }

  .list-item {
    padding: 15px 0px;

    &:hover {
      background-color: $grey200;
      cursor: pointer;
    }

    .list-txt-top {
      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
        letter-spacing: -0.8px;
        text-align: left;
      }
    }

    .list-txt-bottom {
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        letter-spacing: -0.8px;
        text-align: left;
        color: #86869a;
      }
    }
  }
  .box-container {
    display: grid;
    gap: 10px;
    .box {
      background-color: $grey200;
      padding: 20px;
      border-radius: 12px;

      &:hover {
        background-color: $grey300;
        // opacity: 30%;
        cursor: pointer;
      }
      .box-txt-top {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.8px;
        letter-spacing: -0.8px;
        text-align: left;
        color: $grey800;
      }
      .box-txt-bottom {
        font-size: 14px;
        font-weight: 600;
        line-height: 18.2px;
        letter-spacing: -0.8px;
        text-align: left;
        color: $grey500;
      }
    }
  }

  .loading-container {
    @include flexbox();
  }

  .no-result {
    height: 100%;
    @include flexbox();
    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 20.8px;
      letter-spacing: -0.8px;
      text-align: center;
      color: $grey500;
      padding: 50px 0;
    }
  }
}
