.txt-box {
  p {
    color: $grey800;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    letter-spacing: -1px;
    text-align: center;
  }
}
.txt-title {
  p {
    color: $grey800;
    font-size: 19px;
    font-weight: 600;
    line-height: 28.5px;
    letter-spacing: -1px;
    text-align: left;
  }
}

.txt-sub {
  p {
    color: $grey800;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    letter-spacing: -1px;
    text-align: left;
  }
}
.cancel {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 0px;
  top: 53px;
}
.top-img {
  width: 367px;
}
.img {
  width: 267px;
  height: 282px;
}
