.main {
  // padding-top: 8rem;
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
  z-index: 0;
  // background-color: #f2eaff;

  @include responsive("T") {
    max-width: calc(100% - 16.8rem);
    // padding-bottom: 8rem;
  }
  @include responsive("M") {
    // padding-top: 6rem;
    margin: 0 20px;
    max-width: calc(100% - 4rem);
  }
}

.tabBar {
  @include flexbox();
  @include pos-center-x(fixed);
  background-color: $white;
  width: 100%;
  bottom: 0;
  height: 50px;
  border-top: 0.1rem solid $grey200;
}
