.container {
  .textContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .txt-title {
      text-align: left;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: "#333347";
      padding-right: 8px;
      display: -webkit-box; /* Flexbox 기반의 레이아웃, 텍스트를 박스에 맞추기 */
      -webkit-box-orient: vertical; /* Flex 방향을 수직으로 설정 */
      -webkit-line-clamp: 1; /* 2줄까지만 표시 */
      overflow: hidden; /* 넘치는 텍스트 숨김 */
      text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
      white-space: normal; /* 줄바꿈 허용 */
    }

    .txtContent {
      word-break: break-all;
      white-space: pre-wrap;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: "#86869A";
      padding-right: 8px;
      display: -webkit-box; /* Flexbox 기반의 레이아웃, 텍스트를 박스에 맞추기 */
      -webkit-box-orient: vertical; /* Flex 방향을 수직으로 설정 */
      -webkit-line-clamp: 2; /* 2줄까지만 표시 */
      overflow: hidden; /* 넘치는 텍스트 숨김 */
      text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
      white-space: normal; /* 줄바꿈 허용 */
    }

    .imgPost {
      width: 68px;
      height: 68px;
      border-radius: 10px;
      object-fit: cover;
      aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    }
  }

  .img-loaninfo {
    width: 41.4px;
    height: 14.4px;
    margin-top: 13px;
  }

  .container-loaninfo {
    background-color: #f7f7f7;
    border-radius: 10px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-txt-loaninfo {
    // background-color: #dbdfeb;
    align-items: center;
    margin: 5px;
  }

  .container-loaninfo-money {
    // background-color: aqua;
    align-content: center;
    margin: 5px;
  }

  .txt-percent {
    font-size: 18px;
    color: #4169e1;
    text-align: right;
    font-weight: 600;
  }

  .txt-loaninfo {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1px;
  }

  .container-loaninfo-percent {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: "#333347";
    margin-top: 10px;
    margin-left: 20px;
  }

  .container-loaninfo-money {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: "#333347";
    margin-top: 10px;
    margin-left: 20px;
  }

  // 좋아요, 댓글
  .container-like-comment {
    display: flex;
  }
  .img-like {
    width: 20px;
    height: 20px;
  }
  .txt-like {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #b3b3c8;
  }

  .img-comment {
    width: 20px;
    height: 20px;
  }
  .txt-comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
    color: #b3b3c8;
  }
}
